Importing Libraries

In [1]:
import requests
import pandas as pd
import numpy as np

Loading the data using the requests library from the API url

In [4]:
#fantasy premier league api url
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

#using the url to make a GET request from the API endpoint
r = requests.get(url)

#transforming the request into a JSON object
json =  r.json()

In [5]:
#lets have a look at the json keys
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [25]:
#choosing keys to work with into a list
keys_list = ['events', 'phases', 'teams', 'elements', 'element_stats', 'element_types']

In [27]:
#initializing empty dictionaries to append new dataframes
dfs = {}

#populating dictionary
for entry in keys_list:
    dfs[entry] = pd.DataFrame(json[entry])

In [31]:
dfs['events'].head()

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2022-08-05T17:30:00Z,57,True,True,7309963.0,1659720600,0,119.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 170273}...",28.0,105.0,366.0,"{'id': 366, 'points': 15}",0,283.0,318.0
1,2,Gameweek 2,2022-08-13T10:00:00Z,57,True,True,3977474.0,1660384800,0,139.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 136909}...",28.0,318.0,28.0,"{'id': 28, 'points': 19}",12847501,318.0,283.0
2,3,Gameweek 3,2022-08-20T10:00:00Z,48,True,True,9105261.0,1660989600,0,118.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 118152}...",28.0,19.0,7.0,"{'id': 7, 'points': 16}",20175060,28.0,318.0
3,4,Gameweek 4,2022-08-27T10:00:00Z,62,True,True,9406675.0,1661594400,0,149.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 145393}...",28.0,225.0,279.0,"{'id': 279, 'points': 22}",16105042,283.0,28.0
4,5,Gameweek 5,2022-08-30T17:00:00Z,62,True,True,2109803.0,1661878800,0,124.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 92307},...",28.0,104.0,318.0,"{'id': 318, 'points': 17}",14741619,318.0,28.0