Importing Libraries

In [1]:
import requests
import pandas as pd
import numpy as np

Loading the data using the requests library from the API url

In [2]:
#fantasy premier league api url
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

#using the url to make a GET request from the API endpoint
r = requests.get(url)

#transforming the request into a JSON object
json =  r.json()

In [3]:
#lets have a look at the json keys
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [4]:
#choosing keys to work with into a list
keys_list = ['events', 'phases', 'teams', 'elements', 'element_stats', 'element_types']

In [5]:
#initializing empty dictionaries to append new dataframes
dfs = {}

#populating dictionary
for entry in keys_list:
    dfs[entry] = pd.DataFrame(json[entry])

1. Events

In [6]:
events_df = dfs['events']

In [7]:
events_df.head()

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2022-08-05T17:30:00Z,57,True,True,7309963.0,1659720600,0,119.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 170273}...",28.0,105.0,366.0,"{'id': 366, 'points': 15}",0,283.0,318.0
1,2,Gameweek 2,2022-08-13T10:00:00Z,57,True,True,3977474.0,1660384800,0,139.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 136909}...",28.0,318.0,28.0,"{'id': 28, 'points': 19}",12847501,318.0,283.0
2,3,Gameweek 3,2022-08-20T10:00:00Z,48,True,True,9105261.0,1660989600,0,118.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 118152}...",28.0,19.0,7.0,"{'id': 7, 'points': 16}",20175060,28.0,318.0
3,4,Gameweek 4,2022-08-27T10:00:00Z,62,True,True,9406675.0,1661594400,0,149.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 145393}...",28.0,225.0,279.0,"{'id': 279, 'points': 22}",16105042,283.0,28.0
4,5,Gameweek 5,2022-08-30T17:00:00Z,62,True,True,2109803.0,1661878800,0,124.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 92307},...",28.0,104.0,318.0,"{'id': 318, 'points': 17}",14741619,318.0,28.0

In [8]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         38 non-null     int64
 1   name                       38 non-null     object
 2   deadline_time              38 non-null     object
 3   average_entry_score        38 non-null     int64
 4   finished                   38 non-null     bool
 5   data_checked               38 non-null     bool
 6   highest_scoring_entry      16 non-null     float64
 7   deadline_time_epoch        38 non-null     int64
 8   deadline_time_game_offset  38 non-null     int64
 9   highest_score              16 non-null     float64
 10  is_previous                38 non-null     bool
 11  is_current                 38 non-null     bool
 12  is_next                    38 non-null     bool
 13  cup_leagues_created        38 non-null     bool
 14  h2h_ko_matches_created     38 non-null     bool
 15  chip_plays                 38 non-null     object
 16  most_selected              16 non-null     float64
 17  most_transferred_in        16 non-null     float64
 18  top_element                16 non-null     float64
 19  top_element_info           16 non-null     object
 20  transfers_made             38 non-null     int64
 21  most_captained             16 non-null     float64
 22  most_vice_captained        16 non-null     float64
dtypes: bool(7), float64(7), int64(5), object(4)
memory usage: 5.1+ KB

2. Phases

In [9]:
phases_df = dfs['phases']

In [10]:
phases_df.head()

   id       name  start_event  stop_event
0   1    Overall            1          38
1   2     August            1           5
2   3  September            6           8
3   4    October            9          14
4   5   November           15          16

3. Teams

In [11]:
teams_df = dfs['teams']

In [12]:
teams_df.shape

(20, 21)

4. Elements

In [13]:
elements_df = dfs['elements']

In [14]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100.0,100.0,58822,0,0,-3,3,0,2,1.0,...,544,157,303,101,376,141,402,148,0.00000,0.00000
1,NaN,NaN,84450,0,0,1,-1,1,3,4.7,...,171,99,53,27,42,20,83,28,0.07719,0.46312
2,100.0,100.0,153256,0,0,-3,3,1,3,1.0,...,551,284,304,141,343,150,209,69,0.00000,0.00000
3,NaN,NaN,156074,0,0,-3,3,0,2,0.7,...,552,163,342,117,379,144,419,155,0.00000,0.00000
4,100.0,100.0,167199,0,0,-2,2,0,3,4.5,...,260,157,59,30,73,35,245,80,0.09385,0.65693

In [15]:
elements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 88 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          403 non-null    float64
 1   chance_of_playing_this_round          402 non-null    float64
 2   code                                  667 non-null    int64
 3   cost_change_event                     667 non-null    int64
 4   cost_change_event_fall                667 non-null    int64
 5   cost_change_start                     667 non-null    int64
 6   cost_change_start_fall                667 non-null    int64
 7   dreamteam_count                       667 non-null    int64
 8   element_type                          667 non-null    int64
 9   ep_next                               667 non-null    object
 10  ep_this                               667 non-null    object
 11  event_points                          667 non-null    int64
 12  first_name                            667 non-null    object
 13  form                                  667 non-null    object
 14  id                                    667 non-null    int64
 15  in_dreamteam                          667 non-null    bool
 16  news                                  667 non-null    object
 17  news_added                            403 non-null    object
 18  now_cost                              667 non-null    int64
 19  photo                                 667 non-null    object
 20  points_per_game                       667 non-null    object
 21  second_name                           667 non-null    object
 22  selected_by_percent                   667 non-null    object
 23  special                               667 non-null    bool
 24  squad_number                          0 non-null      object
 25  status                                667 non-null    object
 26  team                                  667 non-null    int64
 27  team_code                             667 non-null    int64
 28  total_points                          667 non-null    int64
 29  transfers_in                          667 non-null    int64
 30  transfers_in_event                    667 non-null    int64
 31  transfers_out                         667 non-null    int64
 32  transfers_out_event                   667 non-null    int64
 33  value_form                            667 non-null    object
 34  value_season                          667 non-null    object
 35  web_name                              667 non-null    object
 36  minutes                               667 non-null    int64
 37  goals_scored                          667 non-null    int64
 38  assists                               667 non-null    int64
 39  clean_sheets                          667 non-null    int64
 40  goals_conceded                        667 non-null    int64
 41  own_goals                             667 non-null    int64
 42  penalties_saved                       667 non-null    int64
 43  penalties_missed                      667 non-null    int64
 44  yellow_cards                          667 non-null    int64
 45  red_cards                             667 non-null    int64
 46  saves                                 667 non-null    int64
 47  bonus                                 667 non-null    int64
 48  bps                                   667 non-null    int64
 49  influence                             667 non-null    object
 50  creativity                            667 non-null    object
 51  threat                                667 non-null    object
 52  ict_index                             667 non-null    object
 53  starts                                667 non-null    int64
 54  expected_goals                        667 non-null    object
 55  expected_assists                      667 non-null    object
 56  expected_goal_involvements            667 non-null    object
 57  expected_goals_conceded               667 non-null    object
 58  influence_rank                        667 non-null    int64
 59  influence_rank_type                   667 non-null    int64
 60  creativity_rank                       667 non-null    int64
 61  creativity_rank_type                  667 non-null    int64
 62  threat_rank                           667 non-null    int64
 63  threat_rank_type                      667 non-null    int64
 64  ict_index_rank                        667 non-null    int64
 65  ict_index_rank_type                   667 non-null    int64
 66  corners_and_indirect_freekicks_order  78 non-null     float64
 67  corners_and_indirect_freekicks_text   667 non-null    object
 68  direct_freekicks_order                59 non-null     float64
 69  direct_freekicks_text                 667 non-null    object
 70  penalties_order                       59 non-null     float64
 71  penalties_text                        667 non-null    object
 72  expected_goals_per_90                 667 non-null    float64
 73  saves_per_90                          667 non-null    float64
 74  expected_assists_per_90               667 non-null    float64
 75  expected_goal_involvements_per_90     667 non-null    float64
 76  expected_goals_conceded_per_90        667 non-null    float64
 77  goals_conceded_per_90                 667 non-null    float64
 78  now_cost_rank                         667 non-null    int64
 79  now_cost_rank_type                    667 non-null    int64
 80  form_rank                             667 non-null    int64
 81  form_rank_type                        667 non-null    int64
 82  points_per_game_rank                  667 non-null    int64
 83  points_per_game_rank_type             667 non-null    int64
 84  selected_rank                         667 non-null    int64
 85  selected_rank_type                    667 non-null    int64
 86  starts_per_90                         667 non-null    float64
 87  clean_sheets_per_90                   667 non-null    float64
dtypes: bool(2), float64(13), int64(47), object(26)
memory usage: 449.6+ KB

In [39]:
elements_df[['penalties_order','second_name']].sample(10)

     penalties_order   second_name
130              NaN        Steele
650              NaN        Šarkić
346              NaN          Koch
322              NaN        Barnes
259              NaN        McNeil
350              NaN       Struijk
569              NaN  Larios López
469              NaN        Bishop
253              NaN   Branthwaite
339              3.0         Klich

In [40]:
drop_list = ['chance_of_playing_next_round', 'chance_of_playing_this_round', 'cost_change_event', 
'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall', 'ep_next', 'ep_this',
'news', 'news_added', 'photo', 'special', 'squad_number', 'status', 'transfers_in_event', 
'transfers_out_event', 'influence_rank_type', 'creativity_rank_type', 'threat_rank_type', 
'ict_index_rank_type','corners_and_indirect_freekicks_text', 'direct_freekicks_text','penalties_text'
, 'now_cost_rank_type', 'form_rank_type', 'points_per_game_rank_type', 'selected_rank_type'
]

In [43]:
elements_df.drop(columns=drop_list, inplace=True)

5. Element Types

In [16]:
element_types_df = dfs['element_types']

In [17]:
element_types_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4 non-null      int64
 1   plural_name           4 non-null      object
 2   plural_name_short     4 non-null      object
 3   singular_name         4 non-null      object
 4   singular_name_short   4 non-null      object
 5   squad_select          4 non-null      int64
 6   squad_min_play        4 non-null      int64
 7   squad_max_play        4 non-null      int64
 8   ui_shirt_specific     4 non-null      bool
 9   sub_positions_locked  4 non-null      object
 10  element_count         4 non-null      int64
dtypes: bool(1), int64(5), object(5)
memory usage: 452.0+ bytes

In [18]:
element_types_df['singular_name']

0    Goalkeeper
1      Defender
2    Midfielder
3       Forward
Name: singular_name, dtype: object

6. Element Stats

In [19]:
element_stats_df = dfs['element_stats']

In [20]:
element_stats_df.head()

            label            name
0  Minutes played         minutes
1    Goals scored    goals_scored
2         Assists         assists
3    Clean sheets    clean_sheets
4  Goals conceded  goals_conceded

In [21]:
element_stats_df.shape

(22, 2)

Merging dfs

In [49]:
elements_df = pd.merge(elements_df, element_types_df[['id', 'singular_name']], left_on='element_type', right_on='id', 
how='left')

In [50]:
elements_df.drop(columns=['id_y', 'element_type'], inplace=True)

,code,dreamteam_count,event_points,first_name,form,id_x,in_dreamteam,now_cost,points_per_game,second_name,...,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,form_rank,points_per_game_rank,selected_rank,starts_per_90,clean_sheets_per_90,singular_name
0,58822,0,1,Cédric,0.5,1,False,42,1.0,Alves Soares,...,0.00000,0.00000,0.00,544,303,376,402,0.00000,0.00000,Defender
1,84450,1,1,Granit,4.2,3,False,51,4.4,Xhaka,...,0.00017,0.00000,0.85,171,53,42,83,0.07719,0.46312,Midfielder
2,153256,1,1,Mohamed,0.5,4,False,42,1.3,Elneny,...,0.00000,0.00000,0.96,551,304,343,209,0.00000,0.00000,Midfielder
3,156074,0,0,Rob,0.2,5,False,42,1.0,Holding,...,0.00000,0.00000,0.00,552,342,379,419,0.00000,0.00000,Defender
4,167199,0,2,Thomas,4.0,6,False,48,3.8,Partey,...,0.00215,0.04625,0.56,260,59,73,245,0.09385,0.65693,Midfielder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,18507,0,0,Diego,0.2,625,False,55,1.2,Da Silva Costa,...,0.00000,0.00000,1.97,102,380,360,316,0.00000,0.21845,Forward
663,476502,0,1,Boubacar,2.2,629,False,45,1.5,Traoré,...,0.01124,0.42826,1.66,392,144,326,451,0.23684,0.00000,Midfielder
664,531363,0,0,Nathan,0.0,657,False,45,0.0,Fraser,...,0.00000,0.00000,0.00,417,601,629,561,0.00000,0.00000,Forward
665,449133,0,0,Harvey,0.0,658,False,45,0.0,Griffiths,...,0.00000,0.00000,0.00,382,572,603,644,0.00000,0.00000,Midfielder
666,492776,0,1,Dexter,1.0,664,False,40,1.0,Lembikisa,...,0.01264,1.35941,4.09,617,240,372,641,0.00000,0.00000,Defender

In [51]:
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1200,1270,1160,1230,1160,1240,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1090,1100,1110,1110,1070,1090,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1050,1070,1070,1110,1040,1070,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1150,1100,1150,1140,1170,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1140,1140,1170,1160,1150,1170,131

In [54]:
elements_df = elements_df.merge(teams_df[['id', 'name']], left_on='team', right_on='id', how='left')

In [55]:
elements_df.head()

,code,dreamteam_count,element_type,event_points,first_name,form,id_x,in_dreamteam,now_cost,points_per_game,...,now_cost_rank,form_rank,points_per_game_rank,selected_rank,starts_per_90,clean_sheets_per_90,id_y,singular_name,id,name
0,58822,0,2,1,Cédric,0.5,1,False,42,1.0,...,544,303,376,402,0.00000,0.00000,2,Defender,1,Arsenal
1,84450,1,3,1,Granit,4.2,3,False,51,4.4,...,171,53,42,83,0.07719,0.46312,3,Midfielder,1,Arsenal
2,153256,1,3,1,Mohamed,0.5,4,False,42,1.3,...,551,304,343,209,0.00000,0.00000,3,Midfielder,1,Arsenal
3,156074,0,2,0,Rob,0.2,5,False,42,1.0,...,552,342,379,419,0.00000,0.00000,2,Defender,1,Arsenal
4,167199,0,3,2,Thomas,4.0,6,False,48,3.8,...,260,59,73,245,0.09385,0.65693,3,Midfielder,1,Arsenal